{% extends 'albo/base.html' %} {% load static %} {% block content %}
<div class="main-content offset-all">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "fitWidth": "true" }'>
        {% for comp in comps %}
        <div class="media team grid-item">
            <img class='mr-3 img-fluid align-self-center' src="{{comp.img.url}}">
            <div class="media-body">
                <h4 class="mt-0">
                    <a href="{% url 'squadra' pk=team.pk %}">{{ team.name }}</a>
                </h4>
                <h5>{{ team.owner }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}