{% extends 'albo/base.html' %} {% load static %} {% block content %}
<div class="main-content offset-all">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "fitWidth": "true" }'>
        {% for comp in comps %}
        <div class="media team grid-item">
            {% if 'Serie A' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/seriea.png' %}"> {% elif 'Coppa delle Coppe' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/coppacoppe.png' %}"> {% elif 'Europa League' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/europa.png' %}"> {% elif 'Champions League' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/champions.png' %}"> {% elif 'La Liga' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/laliga.png' %}"> {% elif 'FA Cup' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/facup.png' %}"> {% elif 'Premier League' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/premier.png' %}"> {% elif 'Copa del Rey' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/copadelrey.png' %}"> {% elif 'Coppa Italia' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/coppaitalia.png' %}"> {% elif 'Ekstraklasa' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/ekstra.png' %}"> {% elif 'Intertoto' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/intertoto.png' %}"> {% elif 'Supercoppa' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/supercup.png' %}"> {% elif 'Papa' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/papajohns.png' %}"> {% elif 'Mondiali' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/mondiali.png' %}"> {% elif 'Classic' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/classic.png' %}"> {% elif 'Ranking' in comp %}
            <img class='mr-3 img-fluid align-self-center' src="{% static '/images/trophies/ranking.png' %}"> {% endif %}
            <div class="media-body">
                <h4 class="mt-0">
                    <a href="{% url 'squadra' pk=team.pk %}">{{ team.name }}</a>
                </h4>
                <h5>{{ team.owner }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}