{% extends 'albo/base.html' %} {% load static %} {% block content %}
<div class="main-content container offset-all-2">
    <div class="row">
        <div class="col-md-2 text-center text-md-left">
            <img class='mr-3 img-fluid align-self-end comp-trophy' src="{{comp.img.url}}">
        </div>
        <div class="col-md-4 text-center text-md-left">
            <h1> {{ comp }} </h1>
            <h4> {{ comp.date.year }} </h4>
        </div>
        <div class="col-md-2 text-center text-md-left"></div>
        <div class="col-md-4 text-center text-md-left mt-3 mt-md-0">
            {% if comp.winner %}
            <div>
                <h1>Vincitore</h1>
            </div>
            <div class="media d-block d-md-flex">
                <img src="{{comp.winner.logo.url}}" alt="Logo {{ comp.winner.name }}" class="mr-0 mr-md-3 img-fluid rounded-circle team-logo-rose align-self-center">

                <div class="media-body">
                    <h4 class="mt-0">
                        <a href="{% url 'squadra' pk=comp.winner.pk %}">{{ comp.winner.name }}</a>
                    </h4>
                    <h5>{{ comp.winner.owner }}</h5>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if standings %}
    <h3 class="offset-all">Classifica</h3>
    <table class="table table-hover table-responsive-sm">
        <thead>
            <th scope="col">Posizione</th>
            <th scope='col'>Squadra</th>
            <th scope='col'>G</th>
            <th scope='col'>V</th>
            <th scope='col'>P</th>
            <th scope='col'>S</th>
            <th scope='col'>GF</th>
            <th scope='col'>GS</th>
            <th scope='col'>GD</th>
            <th scope='col'>Fantapunti</th>
            <th scope='col'>Punti</th>
        </thead>
        <tbody>

            {% for pos in standings.positions.all %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'squadra' pk=pos.team.pk %}">{{ pos.team.name }}</a>
                </td>
                <td>{{pos.played}}</td>
                <td>{{pos.wins}}</td>
                <td>{{pos.draws}}</td>
                <td>{{pos.losses}}</td>
                <td>{{pos.goal_for}}</td>
                <td>{{pos.goal_against}}</td>
                <td>{{pos.goal_diff}}</td>
                <td>{{pos.fantapunti}}</td>
                <td>{{pos.points}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %} {% if games %}
    <h3 class="offset-all">Partite</h3>
    <table class="table table-hover">
        <thead>
            <th scope="col">Giornata</th>
            <th scope='col'>Squadra di casa</th>
            <th scope='col' class="text-center">Risultato</th>
            <th scope='col'>Squadra fuori casa</th>
        </thead>
        <tbody>

            {% for game in games %}

            <tr class='game'>
                <th scope='row'>{{ game.matchday }}</th>
                {% for t in game.teams.all %} {% if t.home %}
                <td>
                    <a href="{% url 'squadra' pk=t.team.pk %}">{{ t.team.name }}</a>
                </td>
                {% endif %} {% endfor %}
                <td class='text-center'>
                    <a href="{% url 'partita' pk=game.pk %}">{% for t in game.teams.all %}{{t.goals}}{% if
                        forloop.first %} - {% endif %}{% endfor %}</td>
                {% for t in game.teams.all %} {% if t.home == 0 %}</a>
                <td>
                    <a href="{% url 'squadra' pk=t.team.pk %}">{{ t.team.name }}</a>
                </td>
                {% endif %} {% endfor %}
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</div>
{% endblock %}