.team-logo {
    max-width: 200px
}

.team-logo-rose {
    max-width: 50px;
}

.main-content {
    padding-top: 20px
}

.grid-item {
    width: 300px;
    padding: 7px;
}

.grid {
    margin: 0 auto;
}

.roster {
    margin-top: 15px
}

.role {
    min-width: 20px !important;
    padding: 0 4px !important;
    color: #FFF;
    text-align: center;
    margin: 1px;
}

.A,
.Pc {
    background-color: #aa0a1c;
}

.T,
.W {
    background-color: #9166ff;
}

.Dc,
.Dd,
.Ds {
    background-color: #007c09;
}

.Por {
    background-color: #fc961e;
}

.M,
.E,
.C {
    background-color: #1d8dc0;
}

.trophy {
    max-width: 15px;
}

.milestone {
    margin-top: 6%
}

.wrapper {
    padding: 0 16.66% 50px;
}

.timeline__nav {
    transition: top .3s ease-out;
    position: fixed;
    margin-top: 250px;
    left: 0;
}

.timeline__nav ul {
    list-style: none;
    list-style-position: inside;
}

.timeline__nav ul li {
    margin: 15px 0;
    padding-left: 0;
    list-style-type: none;
    color: #bfc1c3;
    cursor: pointer;
    transition: all .3s ease-out;
}

.timeline__nav ul li.active {
    font-weight: bold;
    color: #f94125;
    border-bottom: 1px dotted transparent;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.timeline__nav ul li:hover {
    color: #000;
}